@{
    ViewBag.Title = "Home Page";
}
<main>
    <h1>Benvenuto</h1>
    <section>
        <h2>Chi siamo</h2>
        <p>Chiacchiere fittizie azienda, presentazione servizi Expedition Map</p>
    </section>

    <section>
        <h2>Cosa puoi fare su questo sito</h2>
        <ul>
            <li>Servizio1</li>
            <li>Servizio2</li>
            <li>Servizio3</li>
            <li>Servizio4</li>
        </ul>
    </section>

    <section>
        <h2>Vuoi effettuare il login?</h2>
    </section>


</main>